{% extends "base.html" %}
{% block body %}
	<div class="main">
	    <div class="wrap">
            <div class="column_middle">
		        <div class="weather">
		            <h3><i><img src="{{ url_for('static', filename='images/events.png') }}" alt="" /> </i>{{title}}</h3>
		            <div class="today_temp">
		            	<div class="temp">
						<figure>{{description}}</figure>
						</div>
					</div>
					<div class="temp_list">
				     	<ul>
							<li><a href="#"><span class="day_name">From</span>&nbsp; {{location}}
							<div class="clear"></div></a></li>
							<li><a href="#"><span class="day_name">To</span>&nbsp; {{destination}}
							<div class="clear"></div></a></li>
							<li><a href="#"><span class="day_name">Participants</span>&nbsp; {{available}}/{{capacity}}
							<div class="clear"></div></a></li>
							<li><a href="#"><span class="day_name">Budget</span>&nbsp; {{price}}
							<div class="clear"></div></a></li>
							<li><a href="#"><span class="day_name">Event date</span>&nbsp; {{event_date}}
							<div class="clear"></div></a></li>

							<li class="list">
								<a href="#">
                    			{% for item in applicants %}
								<span class="day_name"></span>&nbsp;
								<img src="{{ url_for('static', filename='avatar/')}}{{item}}.jpg" alt="" />
								{% endfor %}
								</a>
							</li>
				    	</ul>
				    <a href="/event_join/{{id}}">
				    <div class="join_button">
		            	<div class="temp">
							<figure>Join</figure>
						</div>
					</div>
					</a>
				    </div>
				</div>
			</div>
    	<div class="clear"></div>
 	 </div>
   </div>
{% endblock %}

