{% extends "base.html" %}
{% block body %}
	<div class="main">
	    <div class="wrap">
	       <div class="column_left">
            <div class="column_middle">
              <div class="column_middle_grid1">
		         <div class="profile_picture">
		        	<a href=""><img src="{{ url_for('static', filename='images/profile_img150x150.jpg') }}" alt="" />	</a>
		            <div class="profile_picture_name">
		            	<h2>{{username}}</h2>
		            	<h3>{{status}}</h3>
		            	<p>{{description}}</p>
		            </div>
		             <span><a href="#"> <img src="{{ url_for('static', filename='images/follow_user.png') }}" alt="" /> </a></span>
		          </div>
		       </div>

    	    </div>
    	<div class="clear"></div>
 	 </div>
   </div>
{% endblock %}

